<% const existeMensaje = typeof mensaje !== "undefined"%>


<!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"> -->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if (existeMensaje){%>
<p>MENSAJE: <%=mensaje%></p>
<%}%>

<h1>Asignar roles </h1>



        <table><caption>USUARIO</caption>
            <tr>
                <td><%= usuario.nombre %></td>
            </tr>
            <tr>
                <td><%= usuario.correo %></td>
            </tr>
            <tr>
                <td><%= usuario.fechaNacimiento %></td>
            </tr>
        </table>


<table>
    <caption>ROLES</caption>
    <%rolUsuario.forEach((rol)=> { %>
        <tr>
            <td><%= rol.rol.nombreRol%></td>
            <td>
                <form action="/rol-por-usuario/borrar/<%= rol.id %>" method="POST">
                    <button type="submit"> X </button>
                </form>
            </td>
        </tr>
    <% }) %>


</table>




