<% const estaCreando = typeof paciente === "undefined"%>

<h1> <%= estaCreando ? 'Registrar':'Actualizar' %> Paciente</h1>

<p><%= estaCreando ? 'Registre':'Actualice' %> un Paciente</p>

<form action="/paciente/<%= estaCreando ? 'crear' : 'actualizar' %>-Paciente/<%= estaCreando ? '' : paciente.id %>"
      method="POST">

    <div>
        <label for="nombres">Nombres:</label>
        <input id="nombres"
               type="text"
               name="nombres"
               value="<%= estaCreando ? '' : paciente.nombres %>">
    </div>
    <br>
    <div>
        <label for="apellidos">Apellidos:</label>
        <input id="apellidos"
               type="text"
               name="apellidos"
               value="<%= estaCreando ? '' : paciente.apellidos %>">
    </div>
    <br>
    <div>
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input id="fechaNacimiento"
               type="text"
               name="fechaNacimiento"
               value="<%= estaCreando ? '' : paciente.fechaNacimiento %>">
    </div>
    <br>
    <div>
        <label for="hijos">Hijos:</label>
        <input id="hijos"
               type="text"
               name="hijos"
               value="<%= estaCreando ? '' : paciente.hijos %>">
    </div>
    <br>
    <div>
        <label for="tieneSeguro">Tiene Seguro:</label>
        <input id="tieneSeguro"
               type="text"
               name="tieneSeguro"
               value="<%= estaCreando ? '' : paciente.tieneSeguro %>">
    </div>


    <br>
    <button><%= estaCreando ? 'Crear' : 'Actualizar' %> paciente</button>

</form>

<a href="/paciente/paciente">
    <button>Regresar</button>
</a>